<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (profil(); as profilRef) {
      <div>
        <h2 data-cy="profilDetailsHeading"><span jhiTranslate="opportunitesApp.profil.detail.title">Profil</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ profilRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="opportunitesApp.profil.intitule">Intitule</span></dt>
          <dd>
            <span>{{ profilRef.intitule }}</span>
          </dd>
          <dt><span jhiTranslate="opportunitesApp.profil.domaine">Domaine</span></dt>
          <dd>
            @if (profil()!.domaine) {
              <div>
                <a [routerLink]="['/domaine', profil()!.domaine?.id, 'view']">{{ profilRef.domaine?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/profil', profilRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
